<!--

    Created on : 12 Jan, 2019, 1:33:49 AM
    Author     : Tejas07PSK (Palash Sarkar)

-->

<!DOCTYPE html>
<html>
    <head>

        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description" content="Visit the home-page of \'Gear.tech\' URL-shortener web-app.">
        <meta name="author" content="Palash Sarkar a.k.a, Tejas07PSK">
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>
    <body>

        <script type="text/javascript" src="/javascripts/components.js"></script>
        <script type="text/javascript" src="/javascripts/jqry.js"></script>

    </body>
</html>
